{% extends 'base.html' %}
{% block title %}
Contacts
{% endblock %}

{% block content %}
    <div class="container mt-4">
    <div class="row">
        <div class="col">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Company</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contacts %}
  <tr>
      <th scope="row">{{ contact.pk }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.company }}</td>
      <td>{{ contact.mobile }}</td>
      <td>
            <div class="btn-group" role="group">
         <a href="{% url 'del_update' contact.id %}" class="btn btn-outline-dark">Delete</a>
         <a href="{% url 'update' contact.id %}" class="btn btn-outline-danger">Edit</a>
              </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>

    </div>

{% if contacts.first == None %}

<div class='container text-center mt-4'>
  <h2>No Contact Found</h2>
</div>

{% endif %}

    </div>
<div class='text-center'>
<a href='{% url 'home' %}' class='btn btn-outline-dark'>
Back To Home
</a>
</div>
{% endblock %}