{% extends 'base.html' %}
{% block title %}Home{% endblock  %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-sm-5">
        <h2 class="alert alert-info">
            ADD CONTACT
        </h2>

        <form action="" method="POST">
            {% csrf_token %}
           {{ form }}
            
            <div class="text-center mt-4">
                <input class="btn btn-success" value="Add" type="submit">
               
            </div>
        </form>
    </div>

    <div class="col-sm-6">
         <h2 class="alert alert-info">
            SAVED CONTACTS
        </h2>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Company</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

  {% for contact in contacts %}
  <tr>
      <th scope="row">{{ contact.id }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.company }}</td>
      <td>{{ contact.mobile }}</td>
      <td >
          <div class="btn-group" role="group">
         <a href="{% url 'del' contact.id %}" class="btn btn-outline-dark">Delete</a>
         <a href="{% url 'update' contact.id %}" class="btn btn-outline-danger">Edit</a>
              </div>


      </td>
    </tr>
  {% endfor %}



  </tbody>
</table>
{% if contacts.first == None %}

<div class='container text-center mt-4'>
  <h2>No Contact Found</h2>
</div>
{% else %}
<div class='text-center mt-4'>
 <a href="{% url 'contacts' %}" class="btn btn-outline-dark">View All Saved Contact</a>

</div>
{% endif %}
    </div>

</div>


</div>
    <div class="container text-center mt-4">
    {% if messages %}

 {% for message in messages %}
<span id="success_msg" class="alert alert-success {% if message.tags %}{{ message.tags }}{% endif %} m-4" >{{ message }}</span>
 {% endfor %}

        {% endif %}

</div>
{% endblock %}